###############################################################################
# VS Code (Python)
###############################################################################
*.vscode
*.code-workspace
__pycache__/

data/

###############################################################################
# R Studio / Positron (R)
###############################################################################
*.Rproj
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.log
*.bak
*.fst
*.rds
rsconnect/

###############################################################################
# Environmental variables are always defined locally
###############################################################################
.env

###############################################################################
# Virtual env
###############################################################################
.venv/
uv.lock

###############################################################################
# Project folders
###############################################################################
# Data/
# Deliverables/
# Documents/
# Images/

###############################################################################
# Archive folders
###############################################################################
Archive/
_Archive/

###############################################################################
# Log and temp files
###############################################################################
*.log
*.tmp
*.bak

###############################################################################
# OS X files
###############################################################################
[Tt]humbs.db
.DS_Store
